{
    "swagger":"2.0",
    "info":{
       "version":"v1",
       "title":"AutomationFX API for CUCM",
       "description":"",
       "contact":{
          "name":"UnifiedFX",
          "url":"http://www.unifiedfx.com",
          "email":"support@unifiedfx.com"
       }
    },
    "host":"api.unifiedfx.com",
    "basePath":"",
    "schemes":[
       "https"
    ],
    "consumes":[
 
    ],
    "produces":[
 
    ],
    "paths":{
       "/axl/{resource}":{
          "get":{
             "tags":[
                "AXL"
             ],
             "summary":"List Resource",
             "description":"List resources based on search, for multiple fields use a comma separated list i.e. name,devicePoolName.\r\nFor search criteria a comma separated list of statements i.e. name=SEP%,devicePoolName=Default",
             "operationId":"AXL_GetResourceListByResource",
             "consumes":[
 
             ],
             "produces":[
                "application/json",
                "text/json",
                "application/xml",
                "text/xml"
             ],
             "parameters":[
                {
                   "name":"resource",
                   "in":"path",
                   "description":"Type of Resource, i.e. Css, User",
                   "required":true,
                   "type":"string",
                   "enum":[
                      "AarGroup",
                      "AdvertisedPatterns",
                      "Announcement",
                      "ApplicationDialRules",
                      "ApplicationServer",
                      "ApplicationToSoftkeyTemplate",
                      "ApplicationUserCapfProfile",
                      "AppServerInfo",
                      "AppUser",
                      "AudioCodecPreferenceList",
                      "BillingServer",
                      "BlockedLearnedPatterns",
                      "CalledPartyTracing",
                      "CalledPartyTransformationPattern",
                      "CallerFilterList",
                      "CallingPartyTransformationPattern",
                      "CallManagerGroup",
                      "CallPark",
                      "CallPickupGroup",
                      "CCAProfiles",
                      "CcdAdvertisingService",
                      "CcdHostedDN",
                      "CcdHostedDNGroup",
                      "CcdRequestingService",
                      "CiscoCatalyst600024PortFXSGateway",
                      "CiscoCatalyst6000E1VoIPGateway",
                      "CiscoCatalyst6000T1VoIPGatewayPri",
                      "CiscoCatalyst6000T1VoIPGatewayT1",
                      "CmcInfo",
                      "CommonDeviceConfig",
                      "CommonPhoneConfig",
                      "ConferenceBridge",
                      "ConferenceNow",
                      "CredentialPolicy",
                      "Css",
                      "CtiRoutePoint",
                      "CumaServerSecurityProfile",
                      "CustomUserField",
                      "DateTimeGroup",
                      "DefaultDeviceProfile",
                      "DeviceMobility",
                      "DeviceMobilityGroup",
                      "DevicePool",
                      "DeviceProfile",
                      "DhcpServer",
                      "DhcpSubnet",
                      "DirectedCallPark",
                      "DirectoryLookupDialRules",
                      "DirNumberAliasLookupandSync",
                      "ElinGroup",
                      "EndUserCapfProfile",
                      "EnterpriseFeatureAccessConfiguration",
                      "ExternalCallControlProfile",
                      "FacInfo",
                      "FallbackProfile",
                      "FeatureControlPolicy",
                      "FeatureGroupTemplate",
                      "Gatekeeper",
                      "Gateway",
                      "GatewayEndpointAnalogAccess",
                      "GatewayEndpointDigitalAccessBri",
                      "GatewayEndpointDigitalAccessPri",
                      "GatewayEndpointDigitalAccessT1",
                      "GatewaySccpEndpoints",
                      "GatewaySubunits",
                      "GeoLocation",
                      "GeoLocationFilter",
                      "GeoLocationPolicy",
                      "H323Gateway",
                      "H323Phone",
                      "H323Trunk",
                      "HandoffConfiguration",
                      "HttpProfile",
                      "HuntList",
                      "HuntPilot",
                      "ImeClient",
                      "ImeE164Transformation",
                      "ImeEnrolledPattern",
                      "ImeEnrolledPatternGroup",
                      "ImeExclusionNumber",
                      "ImeExclusionNumberGroup",
                      "ImeFirewall",
                      "ImeRouteFilterElement",
                      "ImeRouteFilterGroup",
                      "ImeServer",
                      "ImportedDirectoryUriCatalogs",
                      "InfrastructureDevice",
                      "IpPhoneServices",
                      "IvrUserLocale",
                      "LbmGroup",
                      "LbmHubGroup",
                      "LdapDirectory",
                      "LdapFilter",
                      "LdapSyncCustomField",
                      "Line",
                      "LineGroup",
                      "LocalRouteGroup",
                      "Location",
                      "MediaResourceGroup",
                      "MediaResourceList",
                      "MeetMe",
                      "MessageWaiting",
                      "MlppDomain",
                      "MobileVoiceAccess",
                      "Mobility",
                      "MobilityProfile",
                      "Mtp",
                      "NetworkAccessProfile",
                      "Phone",
                      "PhoneButtonTemplate",
                      "PhoneNtp",
                      "PhoneSecurityProfile",
                      "PhysicalLocation",
                      "PresenceGroup",
                      "PresenceRedundancyGroup",
                      "ProcessNode",
                      "RecordingProfile",
                      "Region",
                      "RemoteCluster",
                      "RemoteDestination",
                      "RemoteDestinationProfile",
                      "ResourcePriorityNamespace",
                      "ResourcePriorityNamespaceList",
                      "RouteFilter",
                      "RouteGroup",
                      "RouteList",
                      "RoutePartition",
                      "RoutePattern",
                      "SafCcdPurgeBlockLearnedRoutes",
                      "SafForwarder",
                      "SafSecurityProfile",
                      "SdpTransparencyProfile",
                      "ServiceProfile",
                      "SipDialRules",
                      "SIPNormalizationScript",
                      "SipProfile",
                      "SipRealm",
                      "SipRoutePattern",
                      "SipTrunk",
                      "SipTrunkSecurityProfile",
                      "SNMPCommunityString",
                      "SNMPUser",
                      "SoftKeyTemplate",
                      "Srst",
                      "TimePeriod",
                      "TimeSchedule",
                      "TodAccess",
                      "Transcoder",
                      "TransformationProfile",
                      "TransPattern",
                      "UcService",
                      "UnitsToGateway",
                      "UniversalDeviceTemplate",
                      "UniversalLineTemplate",
                      "User",
                      "UserGroup",
                      "UserPhoneAssociation",
                      "UserProfileProvision",
                      "Vg224",
                      "VohServer",
                      "VoiceMailPilot",
                      "VoiceMailPort",
                      "VoiceMailProfile",
                      "VpnGateway",
                      "VpnGroup",
                      "VpnProfile",
                      "WifiHotspot",
                      "WirelessAccessPointControllers",
                      "WLANProfile",
                      "WlanProfileGroup"
                   ]
                },
                {
                   "name":"fields",
                   "in":"query",
                   "description":"The return fields(tags) to include in the response",
                   "required":false,
                   "type":"string"
                },
                {
                   "name":"search",
                   "in":"query",
                   "description":"The Search Criteria i.e. devicePoolName=Default",
                   "required":false,
                   "type":"string"
                },
                {
                   "name":"clusterId",
                   "in":"query",
                   "description":"The Name/Guid of the cluster",
                   "required":false,
                   "type":"string"
                },
                {
                   "name":"detailed",
                   "in":"query",
                   "description":"Show detailed information including uuid (true|false)",
                   "required":false,
                   "type":"boolean"
                }
             ],
             "responses":{
                "200":{
                   "description":"OK",
                   "schema":{
                      "type":"array",
                      "items":{
                         "type":"object"
                      }
                   }
                }
             }
          },
          "post":{
             "tags":[
                "AXL"
             ],
             "summary":"Create Resource",
             "operationId":"AXL_PostResourceByResource",
             "consumes":[
                "text/plain",
                "text/xml",
                "application/xml",
                "text/json",
                "application/json",
                "application/x-www-form-urlencoded"
             ],
             "produces":[
                "application/json",
                "text/json",
                "application/xml",
                "text/xml"
             ],
             "parameters":[
                {
                   "name":"resource",
                   "in":"path",
                   "description":"Type of Resource, i.e. Css, User",
                   "required":true,
                   "type":"string",
                   "enum":[
                      "AarGroup",
                      "AdvertisedPatterns",
                      "Announcement",
                      "ApplicationDialRules",
                      "ApplicationServer",
                      "ApplicationToSoftkeyTemplate",
                      "ApplicationUserCapfProfile",
                      "AppServerInfo",
                      "AppUser",
                      "AudioCodecPreferenceList",
                      "BillingServer",
                      "BlockedLearnedPatterns",
                      "CalledPartyTracing",
                      "CalledPartyTransformationPattern",
                      "CallerFilterList",
                      "CallingPartyTransformationPattern",
                      "CallManagerGroup",
                      "CallPark",
                      "CallPickupGroup",
                      "CCAProfiles",
                      "CcdAdvertisingService",
                      "CcdHostedDN",
                      "CcdHostedDNGroup",
                      "CcdRequestingService",
                      "CiscoCatalyst600024PortFXSGateway",
                      "CiscoCatalyst6000E1VoIPGateway",
                      "CiscoCatalyst6000T1VoIPGatewayPri",
                      "CiscoCatalyst6000T1VoIPGatewayT1",
                      "CmcInfo",
                      "CommonDeviceConfig",
                      "CommonPhoneConfig",
                      "ConferenceBridge",
                      "ConferenceNow",
                      "CredentialPolicy",
                      "Css",
                      "CtiRoutePoint",
                      "CumaServerSecurityProfile",
                      "CustomUserField",
                      "DateTimeGroup",
                      "DefaultDeviceProfile",
                      "DeviceMobility",
                      "DeviceMobilityGroup",
                      "DevicePool",
                      "DeviceProfile",
                      "DhcpServer",
                      "DhcpSubnet",
                      "DirectedCallPark",
                      "DirectoryLookupDialRules",
                      "DirNumberAliasLookupandSync",
                      "ElinGroup",
                      "EndUserCapfProfile",
                      "EnterpriseFeatureAccessConfiguration",
                      "ExternalCallControlProfile",
                      "FacInfo",
                      "FallbackProfile",
                      "FeatureControlPolicy",
                      "FeatureGroupTemplate",
                      "Gatekeeper",
                      "Gateway",
                      "GatewayEndpointAnalogAccess",
                      "GatewayEndpointDigitalAccessBri",
                      "GatewayEndpointDigitalAccessPri",
                      "GatewayEndpointDigitalAccessT1",
                      "GatewaySccpEndpoints",
                      "GatewaySubunits",
                      "GeoLocation",
                      "GeoLocationFilter",
                      "GeoLocationPolicy",
                      "H323Gateway",
                      "H323Phone",
                      "H323Trunk",
                      "HandoffConfiguration",
                      "HttpProfile",
                      "HuntList",
                      "HuntPilot",
                      "ImeClient",
                      "ImeE164Transformation",
                      "ImeEnrolledPattern",
                      "ImeEnrolledPatternGroup",
                      "ImeExclusionNumber",
                      "ImeExclusionNumberGroup",
                      "ImeFirewall",
                      "ImeRouteFilterElement",
                      "ImeRouteFilterGroup",
                      "ImeServer",
                      "ImportedDirectoryUriCatalogs",
                      "InfrastructureDevice",
                      "IpPhoneServices",
                      "IvrUserLocale",
                      "LbmGroup",
                      "LbmHubGroup",
                      "LdapDirectory",
                      "LdapFilter",
                      "LdapSyncCustomField",
                      "Line",
                      "LineGroup",
                      "LocalRouteGroup",
                      "Location",
                      "MediaResourceGroup",
                      "MediaResourceList",
                      "MeetMe",
                      "MessageWaiting",
                      "MlppDomain",
                      "MobileVoiceAccess",
                      "Mobility",
                      "MobilityProfile",
                      "Mtp",
                      "NetworkAccessProfile",
                      "Phone",
                      "PhoneButtonTemplate",
                      "PhoneNtp",
                      "PhoneSecurityProfile",
                      "PhysicalLocation",
                      "PresenceGroup",
                      "PresenceRedundancyGroup",
                      "ProcessNode",
                      "RecordingProfile",
                      "Region",
                      "RemoteCluster",
                      "RemoteDestination",
                      "RemoteDestinationProfile",
                      "ResourcePriorityNamespace",
                      "ResourcePriorityNamespaceList",
                      "RouteFilter",
                      "RouteGroup",
                      "RouteList",
                      "RoutePartition",
                      "RoutePattern",
                      "SafCcdPurgeBlockLearnedRoutes",
                      "SafForwarder",
                      "SafSecurityProfile",
                      "SdpTransparencyProfile",
                      "ServiceProfile",
                      "SipDialRules",
                      "SIPNormalizationScript",
                      "SipProfile",
                      "SipRealm",
                      "SipRoutePattern",
                      "SipTrunk",
                      "SipTrunkSecurityProfile",
                      "SNMPCommunityString",
                      "SNMPUser",
                      "SoftKeyTemplate",
                      "Srst",
                      "TimePeriod",
                      "TimeSchedule",
                      "TodAccess",
                      "Transcoder",
                      "TransformationProfile",
                      "TransPattern",
                      "UcService",
                      "UnitsToGateway",
                      "UniversalDeviceTemplate",
                      "UniversalLineTemplate",
                      "User",
                      "UserGroup",
                      "UserPhoneAssociation",
                      "UserProfileProvision",
                      "Vg224",
                      "VohServer",
                      "VoiceMailPilot",
                      "VoiceMailPort",
                      "VoiceMailProfile",
                      "VpnGateway",
                      "VpnGroup",
                      "VpnProfile",
                      "WifiHotspot",
                      "WirelessAccessPointControllers",
                      "WLANProfile",
                      "WlanProfileGroup"
                   ]
                },
                {
                   "name":"model",
                   "in":"body",
                   "description":"",
                   "required":true,
                   "schema":{
                      "type":"string"
                   }
                },
                {
                   "name":"clusterId",
                   "in":"query",
                   "description":"The Name/Guid of the cluster",
                   "required":false,
                   "type":"string"
                },
                {
                   "name":"detailed",
                   "in":"query",
                   "description":"",
                   "required":false,
                   "type":"boolean"
                }
             ],
             "responses":{
                "200":{
                   "description":"OK",
                   "schema":{
                      "type":"object"
                   }
                }
             }
          }
       },
       "/axl/{resource}/{id}":{
          "get":{
             "tags":[
                "AXL"
             ],
             "summary":"Get Resource",
             "description":"Resource details for the specified id.",
             "operationId":"AXL_GetResourceByIdAndResource",
             "consumes":[
 
             ],
             "produces":[
                "application/json",
                "text/json",
                "application/xml",
                "text/xml"
             ],
             "parameters":[
                {
                   "name":"id",
                   "in":"path",
                   "description":"The uuid or resouce name",
                   "required":true,
                   "type":"string"
                },
                {
                   "name":"resource",
                   "in":"path",
                   "description":"Type of Resource, i.e. Css, User",
                   "required":true,
                   "type":"string",
                   "enum":[
                      "AarGroup",
                      "AdvertisedPatterns",
                      "Announcement",
                      "ApplicationDialRules",
                      "ApplicationServer",
                      "ApplicationToSoftkeyTemplate",
                      "ApplicationUserCapfProfile",
                      "AppServerInfo",
                      "AppUser",
                      "AudioCodecPreferenceList",
                      "BillingServer",
                      "BlockedLearnedPatterns",
                      "CalledPartyTracing",
                      "CalledPartyTransformationPattern",
                      "CallerFilterList",
                      "CallingPartyTransformationPattern",
                      "CallManagerGroup",
                      "CallPark",
                      "CallPickupGroup",
                      "CCAProfiles",
                      "CcdAdvertisingService",
                      "CcdHostedDN",
                      "CcdHostedDNGroup",
                      "CcdRequestingService",
                      "CiscoCatalyst600024PortFXSGateway",
                      "CiscoCatalyst6000E1VoIPGateway",
                      "CiscoCatalyst6000T1VoIPGatewayPri",
                      "CiscoCatalyst6000T1VoIPGatewayT1",
                      "CmcInfo",
                      "CommonDeviceConfig",
                      "CommonPhoneConfig",
                      "ConferenceBridge",
                      "ConferenceNow",
                      "CredentialPolicy",
                      "Css",
                      "CtiRoutePoint",
                      "CumaServerSecurityProfile",
                      "CustomUserField",
                      "DateTimeGroup",
                      "DefaultDeviceProfile",
                      "DeviceMobility",
                      "DeviceMobilityGroup",
                      "DevicePool",
                      "DeviceProfile",
                      "DhcpServer",
                      "DhcpSubnet",
                      "DirectedCallPark",
                      "DirectoryLookupDialRules",
                      "DirNumberAliasLookupandSync",
                      "ElinGroup",
                      "EndUserCapfProfile",
                      "EnterpriseFeatureAccessConfiguration",
                      "ExternalCallControlProfile",
                      "FacInfo",
                      "FallbackProfile",
                      "FeatureControlPolicy",
                      "FeatureGroupTemplate",
                      "Gatekeeper",
                      "Gateway",
                      "GatewayEndpointAnalogAccess",
                      "GatewayEndpointDigitalAccessBri",
                      "GatewayEndpointDigitalAccessPri",
                      "GatewayEndpointDigitalAccessT1",
                      "GatewaySccpEndpoints",
                      "GatewaySubunits",
                      "GeoLocation",
                      "GeoLocationFilter",
                      "GeoLocationPolicy",
                      "H323Gateway",
                      "H323Phone",
                      "H323Trunk",
                      "HandoffConfiguration",
                      "HttpProfile",
                      "HuntList",
                      "HuntPilot",
                      "ImeClient",
                      "ImeE164Transformation",
                      "ImeEnrolledPattern",
                      "ImeEnrolledPatternGroup",
                      "ImeExclusionNumber",
                      "ImeExclusionNumberGroup",
                      "ImeFirewall",
                      "ImeRouteFilterElement",
                      "ImeRouteFilterGroup",
                      "ImeServer",
                      "ImportedDirectoryUriCatalogs",
                      "InfrastructureDevice",
                      "IpPhoneServices",
                      "IvrUserLocale",
                      "LbmGroup",
                      "LbmHubGroup",
                      "LdapDirectory",
                      "LdapFilter",
                      "LdapSyncCustomField",
                      "Line",
                      "LineGroup",
                      "LocalRouteGroup",
                      "Location",
                      "MediaResourceGroup",
                      "MediaResourceList",
                      "MeetMe",
                      "MessageWaiting",
                      "MlppDomain",
                      "MobileVoiceAccess",
                      "Mobility",
                      "MobilityProfile",
                      "Mtp",
                      "NetworkAccessProfile",
                      "Phone",
                      "PhoneButtonTemplate",
                      "PhoneNtp",
                      "PhoneSecurityProfile",
                      "PhysicalLocation",
                      "PresenceGroup",
                      "PresenceRedundancyGroup",
                      "ProcessNode",
                      "RecordingProfile",
                      "Region",
                      "RemoteCluster",
                      "RemoteDestination",
                      "RemoteDestinationProfile",
                      "ResourcePriorityNamespace",
                      "ResourcePriorityNamespaceList",
                      "RouteFilter",
                      "RouteGroup",
                      "RouteList",
                      "RoutePartition",
                      "RoutePattern",
                      "SafCcdPurgeBlockLearnedRoutes",
                      "SafForwarder",
                      "SafSecurityProfile",
                      "SdpTransparencyProfile",
                      "ServiceProfile",
                      "SipDialRules",
                      "SIPNormalizationScript",
                      "SipProfile",
                      "SipRealm",
                      "SipRoutePattern",
                      "SipTrunk",
                      "SipTrunkSecurityProfile",
                      "SNMPCommunityString",
                      "SNMPUser",
                      "SoftKeyTemplate",
                      "Srst",
                      "TimePeriod",
                      "TimeSchedule",
                      "TodAccess",
                      "Transcoder",
                      "TransformationProfile",
                      "TransPattern",
                      "UcService",
                      "UnitsToGateway",
                      "UniversalDeviceTemplate",
                      "UniversalLineTemplate",
                      "User",
                      "UserGroup",
                      "UserPhoneAssociation",
                      "UserProfileProvision",
                      "Vg224",
                      "VohServer",
                      "VoiceMailPilot",
                      "VoiceMailPort",
                      "VoiceMailProfile",
                      "VpnGateway",
                      "VpnGroup",
                      "VpnProfile",
                      "WifiHotspot",
                      "WirelessAccessPointControllers",
                      "WLANProfile",
                      "WlanProfileGroup"
                   ]
                },
                {
                   "name":"clusterId",
                   "in":"query",
                   "description":"The Name/Guid of the cluster",
                   "required":false,
                   "type":"string"
                },
                {
                   "name":"detailed",
                   "in":"query",
                   "description":"Show detailed information including uuid (true|false)",
                   "required":false,
                   "type":"boolean"
                }
             ],
             "responses":{
                "200":{
                   "description":"OK",
                   "schema":{
                      "type":"object"
                   }
                }
             }
          },
          "put":{
             "tags":[
                "AXL"
             ],
             "summary":"Update Resource",
             "operationId":"AXL_PutResourceByIdAndResource",
             "consumes":[
                "text/plain",
                "text/xml",
                "application/xml",
                "text/json",
                "application/json",
                "application/x-www-form-urlencoded"
             ],
             "produces":[
                "application/json",
                "text/json",
                "application/xml",
                "text/xml"
             ],
             "parameters":[
                {
                   "name":"id",
                   "in":"path",
                   "description":"The uuid or resouce name",
                   "required":true,
                   "type":"string"
                },
                {
                   "name":"resource",
                   "in":"path",
                   "description":"Type of Resource, i.e. Css, User",
                   "required":true,
                   "type":"string",
                   "enum":[
                      "AarGroup",
                      "AdvertisedPatterns",
                      "Announcement",
                      "ApplicationDialRules",
                      "ApplicationServer",
                      "ApplicationToSoftkeyTemplate",
                      "ApplicationUserCapfProfile",
                      "AppServerInfo",
                      "AppUser",
                      "AudioCodecPreferenceList",
                      "BillingServer",
                      "BlockedLearnedPatterns",
                      "CalledPartyTracing",
                      "CalledPartyTransformationPattern",
                      "CallerFilterList",
                      "CallingPartyTransformationPattern",
                      "CallManagerGroup",
                      "CallPark",
                      "CallPickupGroup",
                      "CCAProfiles",
                      "CcdAdvertisingService",
                      "CcdHostedDN",
                      "CcdHostedDNGroup",
                      "CcdRequestingService",
                      "CiscoCatalyst600024PortFXSGateway",
                      "CiscoCatalyst6000E1VoIPGateway",
                      "CiscoCatalyst6000T1VoIPGatewayPri",
                      "CiscoCatalyst6000T1VoIPGatewayT1",
                      "CmcInfo",
                      "CommonDeviceConfig",
                      "CommonPhoneConfig",
                      "ConferenceBridge",
                      "ConferenceNow",
                      "CredentialPolicy",
                      "Css",
                      "CtiRoutePoint",
                      "CumaServerSecurityProfile",
                      "CustomUserField",
                      "DateTimeGroup",
                      "DefaultDeviceProfile",
                      "DeviceMobility",
                      "DeviceMobilityGroup",
                      "DevicePool",
                      "DeviceProfile",
                      "DhcpServer",
                      "DhcpSubnet",
                      "DirectedCallPark",
                      "DirectoryLookupDialRules",
                      "DirNumberAliasLookupandSync",
                      "ElinGroup",
                      "EndUserCapfProfile",
                      "EnterpriseFeatureAccessConfiguration",
                      "ExternalCallControlProfile",
                      "FacInfo",
                      "FallbackProfile",
                      "FeatureControlPolicy",
                      "FeatureGroupTemplate",
                      "Gatekeeper",
                      "Gateway",
                      "GatewayEndpointAnalogAccess",
                      "GatewayEndpointDigitalAccessBri",
                      "GatewayEndpointDigitalAccessPri",
                      "GatewayEndpointDigitalAccessT1",
                      "GatewaySccpEndpoints",
                      "GatewaySubunits",
                      "GeoLocation",
                      "GeoLocationFilter",
                      "GeoLocationPolicy",
                      "H323Gateway",
                      "H323Phone",
                      "H323Trunk",
                      "HandoffConfiguration",
                      "HttpProfile",
                      "HuntList",
                      "HuntPilot",
                      "ImeClient",
                      "ImeE164Transformation",
                      "ImeEnrolledPattern",
                      "ImeEnrolledPatternGroup",
                      "ImeExclusionNumber",
                      "ImeExclusionNumberGroup",
                      "ImeFirewall",
                      "ImeRouteFilterElement",
                      "ImeRouteFilterGroup",
                      "ImeServer",
                      "ImportedDirectoryUriCatalogs",
                      "InfrastructureDevice",
                      "IpPhoneServices",
                      "IvrUserLocale",
                      "LbmGroup",
                      "LbmHubGroup",
                      "LdapDirectory",
                      "LdapFilter",
                      "LdapSyncCustomField",
                      "Line",
                      "LineGroup",
                      "LocalRouteGroup",
                      "Location",
                      "MediaResourceGroup",
                      "MediaResourceList",
                      "MeetMe",
                      "MessageWaiting",
                      "MlppDomain",
                      "MobileVoiceAccess",
                      "Mobility",
                      "MobilityProfile",
                      "Mtp",
                      "NetworkAccessProfile",
                      "Phone",
                      "PhoneButtonTemplate",
                      "PhoneNtp",
                      "PhoneSecurityProfile",
                      "PhysicalLocation",
                      "PresenceGroup",
                      "PresenceRedundancyGroup",
                      "ProcessNode",
                      "RecordingProfile",
                      "Region",
                      "RemoteCluster",
                      "RemoteDestination",
                      "RemoteDestinationProfile",
                      "ResourcePriorityNamespace",
                      "ResourcePriorityNamespaceList",
                      "RouteFilter",
                      "RouteGroup",
                      "RouteList",
                      "RoutePartition",
                      "RoutePattern",
                      "SafCcdPurgeBlockLearnedRoutes",
                      "SafForwarder",
                      "SafSecurityProfile",
                      "SdpTransparencyProfile",
                      "ServiceProfile",
                      "SipDialRules",
                      "SIPNormalizationScript",
                      "SipProfile",
                      "SipRealm",
                      "SipRoutePattern",
                      "SipTrunk",
                      "SipTrunkSecurityProfile",
                      "SNMPCommunityString",
                      "SNMPUser",
                      "SoftKeyTemplate",
                      "Srst",
                      "TimePeriod",
                      "TimeSchedule",
                      "TodAccess",
                      "Transcoder",
                      "TransformationProfile",
                      "TransPattern",
                      "UcService",
                      "UnitsToGateway",
                      "UniversalDeviceTemplate",
                      "UniversalLineTemplate",
                      "User",
                      "UserGroup",
                      "UserPhoneAssociation",
                      "UserProfileProvision",
                      "Vg224",
                      "VohServer",
                      "VoiceMailPilot",
                      "VoiceMailPort",
                      "VoiceMailProfile",
                      "VpnGateway",
                      "VpnGroup",
                      "VpnProfile",
                      "WifiHotspot",
                      "WirelessAccessPointControllers",
                      "WLANProfile",
                      "WlanProfileGroup"
                   ]
                },
                {
                   "name":"model",
                   "in":"body",
                   "description":"",
                   "required":true,
                   "schema":{
                      "type":"string"
                   }
                },
                {
                   "name":"clusterId",
                   "in":"query",
                   "description":"The Name/Guid of the cluster",
                   "required":false,
                   "type":"string"
                },
                {
                   "name":"detailed",
                   "in":"query",
                   "description":"",
                   "required":false,
                   "type":"boolean"
                }
             ],
             "responses":{
                "200":{
                   "description":"OK",
                   "schema":{
                      "type":"object"
                   }
                }
             }
          },
          "post":{
             "tags":[
                "AXL"
             ],
             "summary":"Apply Resource",
             "operationId":"AXL_PostResourceApplyByIdAndResource",
             "consumes":[
 
             ],
             "produces":[
                "application/json",
                "text/json"
             ],
             "parameters":[
                {
                   "name":"id",
                   "in":"path",
                   "description":"The uuid or resouce name",
                   "required":true,
                   "type":"string"
                },
                {
                   "name":"resource",
                   "in":"path",
                   "description":"Type of Resource, i.e. Css, User",
                   "required":true,
                   "type":"string",
                   "enum":[
                      "AarGroup",
                      "AdvertisedPatterns",
                      "Announcement",
                      "ApplicationDialRules",
                      "ApplicationServer",
                      "ApplicationToSoftkeyTemplate",
                      "ApplicationUserCapfProfile",
                      "AppServerInfo",
                      "AppUser",
                      "AudioCodecPreferenceList",
                      "BillingServer",
                      "BlockedLearnedPatterns",
                      "CalledPartyTracing",
                      "CalledPartyTransformationPattern",
                      "CallerFilterList",
                      "CallingPartyTransformationPattern",
                      "CallManagerGroup",
                      "CallPark",
                      "CallPickupGroup",
                      "CCAProfiles",
                      "CcdAdvertisingService",
                      "CcdHostedDN",
                      "CcdHostedDNGroup",
                      "CcdRequestingService",
                      "CiscoCatalyst600024PortFXSGateway",
                      "CiscoCatalyst6000E1VoIPGateway",
                      "CiscoCatalyst6000T1VoIPGatewayPri",
                      "CiscoCatalyst6000T1VoIPGatewayT1",
                      "CmcInfo",
                      "CommonDeviceConfig",
                      "CommonPhoneConfig",
                      "ConferenceBridge",
                      "ConferenceNow",
                      "CredentialPolicy",
                      "Css",
                      "CtiRoutePoint",
                      "CumaServerSecurityProfile",
                      "CustomUserField",
                      "DateTimeGroup",
                      "DefaultDeviceProfile",
                      "DeviceMobility",
                      "DeviceMobilityGroup",
                      "DevicePool",
                      "DeviceProfile",
                      "DhcpServer",
                      "DhcpSubnet",
                      "DirectedCallPark",
                      "DirectoryLookupDialRules",
                      "DirNumberAliasLookupandSync",
                      "ElinGroup",
                      "EndUserCapfProfile",
                      "EnterpriseFeatureAccessConfiguration",
                      "ExternalCallControlProfile",
                      "FacInfo",
                      "FallbackProfile",
                      "FeatureControlPolicy",
                      "FeatureGroupTemplate",
                      "Gatekeeper",
                      "Gateway",
                      "GatewayEndpointAnalogAccess",
                      "GatewayEndpointDigitalAccessBri",
                      "GatewayEndpointDigitalAccessPri",
                      "GatewayEndpointDigitalAccessT1",
                      "GatewaySccpEndpoints",
                      "GatewaySubunits",
                      "GeoLocation",
                      "GeoLocationFilter",
                      "GeoLocationPolicy",
                      "H323Gateway",
                      "H323Phone",
                      "H323Trunk",
                      "HandoffConfiguration",
                      "HttpProfile",
                      "HuntList",
                      "HuntPilot",
                      "ImeClient",
                      "ImeE164Transformation",
                      "ImeEnrolledPattern",
                      "ImeEnrolledPatternGroup",
                      "ImeExclusionNumber",
                      "ImeExclusionNumberGroup",
                      "ImeFirewall",
                      "ImeRouteFilterElement",
                      "ImeRouteFilterGroup",
                      "ImeServer",
                      "ImportedDirectoryUriCatalogs",
                      "InfrastructureDevice",
                      "IpPhoneServices",
                      "IvrUserLocale",
                      "LbmGroup",
                      "LbmHubGroup",
                      "LdapDirectory",
                      "LdapFilter",
                      "LdapSyncCustomField",
                      "Line",
                      "LineGroup",
                      "LocalRouteGroup",
                      "Location",
                      "MediaResourceGroup",
                      "MediaResourceList",
                      "MeetMe",
                      "MessageWaiting",
                      "MlppDomain",
                      "MobileVoiceAccess",
                      "Mobility",
                      "MobilityProfile",
                      "Mtp",
                      "NetworkAccessProfile",
                      "Phone",
                      "PhoneButtonTemplate",
                      "PhoneNtp",
                      "PhoneSecurityProfile",
                      "PhysicalLocation",
                      "PresenceGroup",
                      "PresenceRedundancyGroup",
                      "ProcessNode",
                      "RecordingProfile",
                      "Region",
                      "RemoteCluster",
                      "RemoteDestination",
                      "RemoteDestinationProfile",
                      "ResourcePriorityNamespace",
                      "ResourcePriorityNamespaceList",
                      "RouteFilter",
                      "RouteGroup",
                      "RouteList",
                      "RoutePartition",
                      "RoutePattern",
                      "SafCcdPurgeBlockLearnedRoutes",
                      "SafForwarder",
                      "SafSecurityProfile",
                      "SdpTransparencyProfile",
                      "ServiceProfile",
                      "SipDialRules",
                      "SIPNormalizationScript",
                      "SipProfile",
                      "SipRealm",
                      "SipRoutePattern",
                      "SipTrunk",
                      "SipTrunkSecurityProfile",
                      "SNMPCommunityString",
                      "SNMPUser",
                      "SoftKeyTemplate",
                      "Srst",
                      "TimePeriod",
                      "TimeSchedule",
                      "TodAccess",
                      "Transcoder",
                      "TransformationProfile",
                      "TransPattern",
                      "UcService",
                      "UnitsToGateway",
                      "UniversalDeviceTemplate",
                      "UniversalLineTemplate",
                      "User",
                      "UserGroup",
                      "UserPhoneAssociation",
                      "UserProfileProvision",
                      "Vg224",
                      "VohServer",
                      "VoiceMailPilot",
                      "VoiceMailPort",
                      "VoiceMailProfile",
                      "VpnGateway",
                      "VpnGroup",
                      "VpnProfile",
                      "WifiHotspot",
                      "WirelessAccessPointControllers",
                      "WLANProfile",
                      "WlanProfileGroup"
                   ]
                },
                {
                   "name":"clusterId",
                   "in":"query",
                   "description":"The Name/Guid of the cluster",
                   "required":false,
                   "type":"string"
                }
             ],
             "responses":{
                "200":{
                   "description":"OK",
                   "schema":{
                      "type":"object"
                   }
                }
             }
          },
          "delete":{
             "tags":[
                "AXL"
             ],
             "summary":"Delete Resource",
             "operationId":"AXL_DeleteResourceByIdAndResource",
             "consumes":[
 
             ],
             "produces":[
                "application/json",
                "text/json"
             ],
             "parameters":[
                {
                   "name":"id",
                   "in":"path",
                   "description":"The uuid or resouce name",
                   "required":true,
                   "type":"string"
                },
                {
                   "name":"resource",
                   "in":"path",
                   "description":"Type of Resource, i.e. Css, User",
                   "required":true,
                   "type":"string",
                   "enum":[
                      "AarGroup",
                      "AdvertisedPatterns",
                      "Announcement",
                      "ApplicationDialRules",
                      "ApplicationServer",
                      "ApplicationToSoftkeyTemplate",
                      "ApplicationUserCapfProfile",
                      "AppServerInfo",
                      "AppUser",
                      "AudioCodecPreferenceList",
                      "BillingServer",
                      "BlockedLearnedPatterns",
                      "CalledPartyTracing",
                      "CalledPartyTransformationPattern",
                      "CallerFilterList",
                      "CallingPartyTransformationPattern",
                      "CallManagerGroup",
                      "CallPark",
                      "CallPickupGroup",
                      "CCAProfiles",
                      "CcdAdvertisingService",
                      "CcdHostedDN",
                      "CcdHostedDNGroup",
                      "CcdRequestingService",
                      "CiscoCatalyst600024PortFXSGateway",
                      "CiscoCatalyst6000E1VoIPGateway",
                      "CiscoCatalyst6000T1VoIPGatewayPri",
                      "CiscoCatalyst6000T1VoIPGatewayT1",
                      "CmcInfo",
                      "CommonDeviceConfig",
                      "CommonPhoneConfig",
                      "ConferenceBridge",
                      "ConferenceNow",
                      "CredentialPolicy",
                      "Css",
                      "CtiRoutePoint",
                      "CumaServerSecurityProfile",
                      "CustomUserField",
                      "DateTimeGroup",
                      "DefaultDeviceProfile",
                      "DeviceMobility",
                      "DeviceMobilityGroup",
                      "DevicePool",
                      "DeviceProfile",
                      "DhcpServer",
                      "DhcpSubnet",
                      "DirectedCallPark",
                      "DirectoryLookupDialRules",
                      "DirNumberAliasLookupandSync",
                      "ElinGroup",
                      "EndUserCapfProfile",
                      "EnterpriseFeatureAccessConfiguration",
                      "ExternalCallControlProfile",
                      "FacInfo",
                      "FallbackProfile",
                      "FeatureControlPolicy",
                      "FeatureGroupTemplate",
                      "Gatekeeper",
                      "Gateway",
                      "GatewayEndpointAnalogAccess",
                      "GatewayEndpointDigitalAccessBri",
                      "GatewayEndpointDigitalAccessPri",
                      "GatewayEndpointDigitalAccessT1",
                      "GatewaySccpEndpoints",
                      "GatewaySubunits",
                      "GeoLocation",
                      "GeoLocationFilter",
                      "GeoLocationPolicy",
                      "H323Gateway",
                      "H323Phone",
                      "H323Trunk",
                      "HandoffConfiguration",
                      "HttpProfile",
                      "HuntList",
                      "HuntPilot",
                      "ImeClient",
                      "ImeE164Transformation",
                      "ImeEnrolledPattern",
                      "ImeEnrolledPatternGroup",
                      "ImeExclusionNumber",
                      "ImeExclusionNumberGroup",
                      "ImeFirewall",
                      "ImeRouteFilterElement",
                      "ImeRouteFilterGroup",
                      "ImeServer",
                      "ImportedDirectoryUriCatalogs",
                      "InfrastructureDevice",
                      "IpPhoneServices",
                      "IvrUserLocale",
                      "LbmGroup",
                      "LbmHubGroup",
                      "LdapDirectory",
                      "LdapFilter",
                      "LdapSyncCustomField",
                      "Line",
                      "LineGroup",
                      "LocalRouteGroup",
                      "Location",
                      "MediaResourceGroup",
                      "MediaResourceList",
                      "MeetMe",
                      "MessageWaiting",
                      "MlppDomain",
                      "MobileVoiceAccess",
                      "Mobility",
                      "MobilityProfile",
                      "Mtp",
                      "NetworkAccessProfile",
                      "Phone",
                      "PhoneButtonTemplate",
                      "PhoneNtp",
                      "PhoneSecurityProfile",
                      "PhysicalLocation",
                      "PresenceGroup",
                      "PresenceRedundancyGroup",
                      "ProcessNode",
                      "RecordingProfile",
                      "Region",
                      "RemoteCluster",
                      "RemoteDestination",
                      "RemoteDestinationProfile",
                      "ResourcePriorityNamespace",
                      "ResourcePriorityNamespaceList",
                      "RouteFilter",
                      "RouteGroup",
                      "RouteList",
                      "RoutePartition",
                      "RoutePattern",
                      "SafCcdPurgeBlockLearnedRoutes",
                      "SafForwarder",
                      "SafSecurityProfile",
                      "SdpTransparencyProfile",
                      "ServiceProfile",
                      "SipDialRules",
                      "SIPNormalizationScript",
                      "SipProfile",
                      "SipRealm",
                      "SipRoutePattern",
                      "SipTrunk",
                      "SipTrunkSecurityProfile",
                      "SNMPCommunityString",
                      "SNMPUser",
                      "SoftKeyTemplate",
                      "Srst",
                      "TimePeriod",
                      "TimeSchedule",
                      "TodAccess",
                      "Transcoder",
                      "TransformationProfile",
                      "TransPattern",
                      "UcService",
                      "UnitsToGateway",
                      "UniversalDeviceTemplate",
                      "UniversalLineTemplate",
                      "User",
                      "UserGroup",
                      "UserPhoneAssociation",
                      "UserProfileProvision",
                      "Vg224",
                      "VohServer",
                      "VoiceMailPilot",
                      "VoiceMailPort",
                      "VoiceMailProfile",
                      "VpnGateway",
                      "VpnGroup",
                      "VpnProfile",
                      "WifiHotspot",
                      "WirelessAccessPointControllers",
                      "WLANProfile",
                      "WlanProfileGroup"
                   ]
                },
                {
                   "name":"clusterId",
                   "in":"query",
                   "description":"The Name/Guid of the cluster",
                   "required":false,
                   "type":"string"
                }
             ],
             "responses":{
                "200":{
                   "description":"OK",
                   "schema":{
                      "type":"object"
                   }
                }
             }
          }
       },
       "/axl/sql/query":{
          "post":{
             "tags":[
                "SQL"
             ],
             "summary":"Submit SQL Query",
             "description":"Query data directly from CUCM database using a SQL Statement",
             "operationId":"SQL_PostQuery",
             "consumes":[
                "text/plain",
                "text/xml",
                "application/xml",
                "text/json",
                "application/json",
                "application/x-www-form-urlencoded"
             ],
             "produces":[
                "application/json",
                "text/json",
                "application/xml",
                "text/xml"
             ],
             "parameters":[
                {
                   "name":"sql",
                   "in":"body",
                   "description":"SQL Statement",
                   "required":true,
                   "schema":{
                      "type":"string"
                   }
                },
                {
                   "name":"clusterId",
                   "in":"query",
                   "description":"The Name/Guid of the cluster",
                   "required":false,
                   "type":"string"
                }
             ],
             "responses":{
                "200":{
                   "description":"OK",
                   "schema":{
                      "type":"array",
                      "items":{
                         "type":"object"
                      }
                   }
                }
             }
          }
       },
       "/axl/sql/update":{
          "post":{
             "tags":[
                "SQL"
             ],
             "summary":"Submit SQL Update",
             "description":"Update data directly on CUCM database using a SQL Update Statement",
             "operationId":"SQL_PostUpdate",
             "consumes":[
                "text/plain",
                "text/xml",
                "application/xml",
                "text/json",
                "application/json",
                "application/x-www-form-urlencoded"
             ],
             "produces":[
                "application/json",
                "text/json",
                "application/xml",
                "text/xml"
             ],
             "parameters":[
                {
                   "name":"sql",
                   "in":"body",
                   "description":"SQL Update Statement",
                   "required":true,
                   "schema":{
                      "type":"string"
                   }
                },
                {
                   "name":"clusterId",
                   "in":"query",
                   "description":"The Name/Guid of the cluster",
                   "required":false,
                   "type":"string"
                }
             ],
             "responses":{
                "200":{
                   "description":"OK",
                   "schema":{
                      "type":"array",
                      "items":{
                         "type":"object"
                      }
                   }
                }
             }
          }
       },
       "/cti/Calls":{
          "get":{
             "tags":[
                "CTI"
             ],
             "summary":"Get all calls",
             "operationId":"CTI_GetCalls",
             "consumes":[
 
             ],
             "produces":[
                "application/json",
                "text/json",
                "application/xml",
                "text/xml"
             ],
             "responses":{
                "200":{
                   "description":"OK",
                   "schema":{
                      "type":"array",
                      "items":{
                         "$ref":"#/definitions/CallViewModel"
                      }
                   }
                }
             }
          }
       },
       "/cti/calls/{phoneId}":{
          "get":{
             "tags":[
                "CTI"
             ],
             "summary":"Get Call by Phone",
             "operationId":"CTI_GetCallsByPhoneid",
             "consumes":[
 
             ],
             "produces":[
                "application/json",
                "text/json",
                "application/xml",
                "text/xml"
             ],
             "parameters":[
                {
                   "name":"phoneId",
                   "in":"path",
                   "description":"Phone Name i.e. SEP123456789012",
                   "required":true,
                   "type":"string"
                }
             ],
             "responses":{
                "200":{
                   "description":"OK",
                   "schema":{
                      "type":"array",
                      "items":{
                         "$ref":"#/definitions/CallViewModel"
                      }
                   }
                }
             }
          },
          "delete":{
             "tags":[
                "CTI"
             ],
             "summary":"Drop Call",
             "description":"Drop/hang-up the specified call/connection",
             "operationId":"CTI_DeleteCallByPhoneid",
             "consumes":[
 
             ],
             "produces":[
                "application/json",
                "text/json",
                "application/xml",
                "text/xml"
             ],
             "parameters":[
                {
                   "name":"phoneId",
                   "in":"path",
                   "description":"Phone Name i.e. SEP123456789012",
                   "required":true,
                   "type":"string"
                },
                {
                   "name":"address",
                   "in":"query",
                   "description":"The Extension to drop callon (Extension or Line Number, e.g. '1000' or '2')",
                   "required":false,
                   "type":"string"
                },
                {
                   "name":"connection",
                   "in":"query",
                   "description":"The Connection instance to drop, for the second conneciton on a line/address use '2'",
                   "required":false,
                   "type":"string"
                }
             ],
             "responses":{
                "200":{
                   "description":"OK",
                   "schema":{
                      "$ref":"#/definitions/CallViewModel"
                   }
                }
             }
          }
       },
       "/cti/calls/{phoneId}/{number}":{
          "post":{
             "tags":[
                "CTI"
             ],
             "summary":"Create a Call",
             "description":"The destination number is optional, if no number is provided then the line/address goes off-hook. Use the Digits resource to dial when off-hook",
             "operationId":"CTI_PostCallByPhoneidAndNumber",
             "consumes":[
 
             ],
             "produces":[
                "application/json",
                "text/json",
                "application/xml",
                "text/xml"
             ],
             "parameters":[
                {
                   "name":"phoneId",
                   "in":"path",
                   "description":"Phone Name i.e. SEP123456789012",
                   "required":true,
                   "type":"string"
                },
                {
                   "name":"number",
                   "in":"path",
                   "description":"The destination number or SIP Address",
                   "required":true,
                   "type":"string"
                },
                {
                   "name":"address",
                   "in":"query",
                   "description":"The Extension create the call on (Extension or Line Number, e.g. '1000' or '2')",
                   "required":false,
                   "type":"string"
                }
             ],
             "responses":{
                "200":{
                   "description":"OK",
                   "schema":{
                      "$ref":"#/definitions/CallViewModel"
                   }
                }
             }
          }
       },
       "/cti/calls/{phoneId}/{operation}":{
          "post":{
             "tags":[
                "CTI"
             ],
             "summary":"Hold/Unhold/Drop/Answer Call",
             "description":"Modify an existing call based on the specified operation:\r\n- OffHook: If idles take the specifed/default address off-hook ready for 'Digits'\r\n- Answer: Answer the specified/default connection (if ringing)\r\n- Drop: Hang-up the connection\r\n- Hold: Put the connection on hold\r\n- Unhold: UnHold the connection\r\n- Transfer: Initiate a consult transfer, send 'Digits' to dial \r\n- Conference: Initiate a consult conference, send 'Digits' to dial \r\n- Select: Select a particular Extension/Address and/or Connection before performing operations\r\n\r\nNote: Use the select command before performing an operation (i.e. hold, unhold, transfer, conference etc.) the selected address/connection will be used for the next operation(s) on that Phone.",
             "operationId":"CTI_PostOperationByPhoneidAndOperation",
             "consumes":[
 
             ],
             "produces":[
                "application/json",
                "text/json",
                "application/xml",
                "text/xml"
             ],
             "parameters":[
                {
                   "name":"phoneId",
                   "in":"path",
                   "description":"Phone Name i.e. SEP123456789012",
                   "required":true,
                   "type":"string"
                },
                {
                   "name":"operation",
                   "in":"path",
                   "description":"",
                   "required":true,
                   "type":"string",
                   "enum":[
                      "OffHook",
                      "Answer",
                      "Drop",
                      "Hold",
                      "UnHold",
                      "Transfer",
                      "Conference",
                      "Select"
                   ]
                },
                {
                   "name":"address",
                   "in":"query",
                   "description":"The Extension to select (Extension or Line Number, e.g. '1000' or '2')",
                   "required":false,
                   "type":"string"
                },
                {
                   "name":"connection",
                   "in":"query",
                   "description":"The Connection instance to modify, for the second conneciton on a line/address use '2'",
                   "required":false,
                   "type":"string"
                }
             ],
             "responses":{
                "200":{
                   "description":"OK",
                   "schema":{
                      "$ref":"#/definitions/CallViewModel"
                   }
                }
             }
          }
       },
       "/cti/calls/{phoneId}/conference/{number}":{
          "post":{
             "tags":[
                "CTI"
             ],
             "summary":"Conference a Call",
             "description":"Conference a destination to an existing call, if no number is specified then initiate a consult conference and use the 'Digits' resource to dial the transfer destination.\r\nNote: This requires an exisitng call in the connected state",
             "operationId":"CTI_PostConferenceByPhoneidAndNumber",
             "consumes":[
 
             ],
             "produces":[
                "application/json",
                "text/json",
                "application/xml",
                "text/xml"
             ],
             "parameters":[
                {
                   "name":"phoneId",
                   "in":"path",
                   "description":"Phone Name i.e. SEP123456789012",
                   "required":true,
                   "type":"string"
                },
                {
                   "name":"number",
                   "in":"path",
                   "description":"The destination number or SIP Address",
                   "required":true,
                   "type":"string"
                },
                {
                   "name":"address",
                   "in":"query",
                   "description":"The Extension to initiate the conference from (Extension or Line Number, e.g. '1000' or '2')",
                   "required":false,
                   "type":"string"
                },
                {
                   "name":"connection",
                   "in":"query",
                   "description":"The Connection instance to initiate the conference from, for the second conneciton on a line/address use '2'",
                   "required":false,
                   "type":"string"
                }
             ],
             "responses":{
                "200":{
                   "description":"OK",
                   "schema":{
                      "$ref":"#/definitions/CallViewModel"
                   }
                }
             }
          }
       },
       "/cti/calls/{phoneId}/digits/{number}":{
          "post":{
             "tags":[
                "CTI"
             ],
             "summary":"Dial Digits",
             "description":"Send digits to the specified phone, this operation is dependant on the state of the phone:\r\n- No Call: This will initiate on-hook dialing, use the 'Call' operation to dial\r\n- Off-Hook Call: This will use these digits to dial\r\n- Connected Call: This will send these digits as DTMF, you can include commas (',') for 1 second pause i.e. 123,,456",
             "operationId":"CTI_PostDigitsByPhoneidAndNumber",
             "consumes":[
 
             ],
             "produces":[
                "application/json",
                "text/json",
                "application/xml",
                "text/xml"
             ],
             "parameters":[
                {
                   "name":"phoneId",
                   "in":"path",
                   "description":"Phone Name i.e. SEP123456789012",
                   "required":true,
                   "type":"string"
                },
                {
                   "name":"number",
                   "in":"path",
                   "description":"The digits to dial or DTMF to send if there is a connected call",
                   "required":true,
                   "type":"string"
                }
             ],
             "responses":{
                "200":{
                   "description":"OK",
                   "schema":{
                      "$ref":"#/definitions/CallViewModel"
                   }
                }
             }
          }
       },
       "/cti/calls/{phoneId}/monitor":{
          "delete":{
             "tags":[
                "CTI"
             ],
             "summary":"Stop Monitoring",
             "operationId":"CTI_DeleteMonitorByPhoneid",
             "consumes":[
 
             ],
             "produces":[
                "application/json",
                "text/json",
                "application/xml",
                "text/xml"
             ],
             "parameters":[
                {
                   "name":"phoneId",
                   "in":"path",
                   "description":"Agent Phone Name i.e. SEP123456789012",
                   "required":true,
                   "type":"string"
                }
             ],
             "responses":{
                "200":{
                   "description":"OK",
                   "schema":{
                      "$ref":"#/definitions/CallViewModel"
                   }
                }
             }
          }
       },
       "/cti/calls/{phoneId}/monitor/{supervisor}":{
          "post":{
             "tags":[
                "CTI"
             ],
             "summary":"Start Monitoring an Agent Call",
             "description":"Starts a 'Silent Monitor' session from the agent phone to the supervisor.",
             "operationId":"CTI_PostMonitorByPhoneidAndSupervisor",
             "consumes":[
 
             ],
             "produces":[
                "application/json",
                "text/json",
                "application/xml",
                "text/xml"
             ],
             "parameters":[
                {
                   "name":"phoneId",
                   "in":"path",
                   "description":"Agent Phone Name i.e. SEP123456789012",
                   "required":true,
                   "type":"string"
                },
                {
                   "name":"supervisor",
                   "in":"path",
                   "description":"The device name of the Supervisor i.e. SEP123456789012",
                   "required":true,
                   "type":"string"
                },
                {
                   "name":"address",
                   "in":"query",
                   "description":"The Supervisor Extension to listen on (Extension or Line Number, e.g. '1000' or '2')",
                   "required":false,
                   "type":"string"
                },
                {
                   "name":"whisper",
                   "in":"query",
                   "description":"Enable Whisper/Coaching",
                   "required":false,
                   "type":"boolean"
                }
             ],
             "responses":{
                "200":{
                   "description":"OK",
                   "schema":{
                      "$ref":"#/definitions/CallViewModel"
                   }
                }
             }
          }
       },
       "/cti/calls/{phoneId}/transfer/{number}":{
          "post":{
             "tags":[
                "CTI"
             ],
             "summary":"Transfer a call",
             "description":"Transfer a call to the destiantion number, if no number is specified then initiate a consult transfer and use the 'Digits' resource to dial the transfer destination.",
             "operationId":"CTI_PostTransferByPhoneidAndNumber",
             "consumes":[
 
             ],
             "produces":[
                "application/json",
                "text/json",
                "application/xml",
                "text/xml"
             ],
             "parameters":[
                {
                   "name":"phoneId",
                   "in":"path",
                   "description":"Phone Name i.e. SEP123456789012",
                   "required":true,
                   "type":"string"
                },
                {
                   "name":"number",
                   "in":"path",
                   "description":"The destination number or SIP Address",
                   "required":true,
                   "type":"string"
                },
                {
                   "name":"address",
                   "in":"query",
                   "description":"The Extension to initiate the transfer from (Extension or Line Number, e.g. '1000' or '2')",
                   "required":false,
                   "type":"string"
                },
                {
                   "name":"connection",
                   "in":"query",
                   "description":"The Connection instance to initiate the transfer from, for the second conneciton on a line/address use '2'",
                   "required":false,
                   "type":"string"
                }
             ],
             "responses":{
                "200":{
                   "description":"OK",
                   "schema":{
                      "$ref":"#/definitions/CallViewModel"
                   }
                }
             }
          }
       },
       "/cti/data/{phoneId}":{
          "post":{
             "tags":[
                "CTI"
             ],
             "summary":"Send Raw XML data to Phone",
             "description":"Send Raw XML Data to Phone i.e. \"&lt;CiscoIPPhoneText&gt;\"\r\nNote: This also accepts a JSON body and is converted to XML i.e. \"{\"CiscoIPPhoneExecute\":{\"ExecuteItem\":{\"@URL\":\"Key:Line1\"}}}\"\r\nFor details on XML objects: (http://www.cisco.com/c/en/us/td/docs/voice_ip_comm/cuipph/all_models/xsi/9-1-1/CUIP_BK_P82B3B16_00_phones-services-application-development-notes/CUIP_BK_P82B3B16_00_phones-services-application-development-notes_chapter_011.html#CUIP_RF_CDC8E3D2_00)",
             "operationId":"CTI_PostDataByPhoneid",
             "consumes":[
                "text/plain",
                "text/xml",
                "application/xml",
                "text/json",
                "application/json",
                "application/x-www-form-urlencoded"
             ],
             "produces":[
                "application/json",
                "text/json"
             ],
             "parameters":[
                {
                   "name":"phoneId",
                   "in":"path",
                   "description":"Phone Name i.e. SEP123456789012",
                   "required":true,
                   "type":"string"
                },
                {
                   "name":"data",
                   "in":"body",
                   "description":"XML Data to send to phone",
                   "required":true,
                   "schema":{
                      "type":"string"
                   }
                }
             ],
             "responses":{
                "200":{
                   "description":"OK",
                   "schema":{
                      "type":"object"
                   }
                }
             }
          }
       },
       "/cti/execute/{phoneId}":{
          "post":{
             "tags":[
                "CTI"
             ],
             "summary":"Send Uri to Phone",
             "description":"Send a URI to the phone i.e. \"Key:Line1\"\r\nFor a list of URI commands: (http://www.cisco.com/c/en/us/td/docs/voice_ip_comm/cuipph/all_models/xsi/9-1-1/CUIP_BK_P82B3B16_00_phones-services-application-development-notes/CUIP_BK_P82B3B16_00_phones-services-application-development-notes_chapter_0101.html)",
             "operationId":"CTI_PostExecuteByPhoneid",
             "consumes":[
                "text/plain",
                "text/xml",
                "application/xml",
                "text/json",
                "application/json",
                "application/x-www-form-urlencoded"
             ],
             "produces":[
                "application/json",
                "text/json"
             ],
             "parameters":[
                {
                   "name":"phoneId",
                   "in":"path",
                   "description":"Phone Name i.e. SEP123456789012",
                   "required":true,
                   "type":"string"
                },
                {
                   "name":"uri",
                   "in":"body",
                   "description":"i.e. 'Key:Line1'",
                   "required":true,
                   "schema":{
                      "type":"string"
                   }
                }
             ],
             "responses":{
                "200":{
                   "description":"OK",
                   "schema":{
                      "type":"object"
                   }
                }
             }
          }
       },
       "/messages":{
          "get":{
             "tags":[
                "Message"
             ],
             "summary":"Get all messages",
             "description":"Get all messages in AutomationFX, data available in both XML and Json formats",
             "operationId":"Message_GetMessages",
             "consumes":[
 
             ],
             "produces":[
                "application/json",
                "text/json",
                "application/xml",
                "text/xml"
             ],
             "responses":{
                "200":{
                   "description":"OK",
                   "schema":{
                      "type":"array",
                      "items":{
                         "$ref":"#/definitions/MessageViewModel"
                      }
                   }
                }
             }
          },
          "post":{
             "tags":[
                "Message"
             ],
             "summary":"Create a new message",
             "description":"Create a new message",
             "operationId":"Message_PostMessage_1",
             "consumes":[
                "application/json",
                "text/json",
                "application/xml",
                "text/xml",
                "application/x-www-form-urlencoded"
             ],
             "produces":[
                "application/json",
                "text/json",
                "application/xml",
                "text/xml"
             ],
             "parameters":[
                {
                   "name":"message",
                   "in":"body",
                   "description":"Message object",
                   "required":true,
                   "schema":{
                      "$ref":"#/definitions/MessageViewModel"
                   }
                }
             ],
             "responses":{
                "201":{
                   "description":"Message created",
                   "schema":{
                      "$ref":"#/definitions/MessageViewModel"
                   }
                },
                "400":{
                   "description":"Invalid message"
                },
                "409":{
                   "description":"Message exist with same name"
                }
             }
          }
       },
       "/messages/{id}":{
          "get":{
             "tags":[
                "Message"
             ],
             "summary":"Get a specific message by id or name",
             "description":"Get a specific message by id or name",
             "operationId":"Message_GetMessageById",
             "consumes":[
 
             ],
             "produces":[
                "application/json",
                "text/json",
                "application/xml",
                "text/xml"
             ],
             "parameters":[
                {
                   "name":"id",
                   "in":"path",
                   "description":"Message id or name",
                   "required":true,
                   "type":"string"
                }
             ],
             "responses":{
                "200":{
                   "description":"OK",
                   "schema":{
                      "$ref":"#/definitions/MessageViewModel"
                   }
                },
                "404":{
                   "description":"Message not found with specified id"
                }
             }
          },
          "put":{
             "tags":[
                "Message"
             ],
             "summary":"Update an existing message",
             "description":"Update an existing message",
             "operationId":"Message_PutMessageById",
             "consumes":[
                "application/json",
                "text/json",
                "application/xml",
                "text/xml",
                "application/x-www-form-urlencoded"
             ],
             "produces":[
                "application/json",
                "text/json",
                "application/xml",
                "text/xml"
             ],
             "parameters":[
                {
                   "name":"id",
                   "in":"path",
                   "description":"Message id",
                   "required":true,
                   "type":"string"
                },
                {
                   "name":"message",
                   "in":"body",
                   "description":"Message object",
                   "required":true,
                   "schema":{
                      "$ref":"#/definitions/MessageViewModel"
                   }
                }
             ],
             "responses":{
                "200":{
                   "description":"Message updated",
                   "schema":{
                      "$ref":"#/definitions/MessageViewModel"
                   }
                },
                "400":{
                   "description":"Invalid message"
                },
                "404":{
                   "description":"Message not found with specified id"
                },
                "409":{
                   "description":"Message conflicts with an exisiting message"
                }
             }
          },
          "delete":{
             "tags":[
                "Message"
             ],
             "summary":"Delete a message",
             "description":"Delete a message",
             "operationId":"Message_DeleteMessageById",
             "consumes":[
 
             ],
             "produces":[
                "application/json",
                "text/json"
             ],
             "parameters":[
                {
                   "name":"id",
                   "in":"path",
                   "description":"Message id",
                   "required":true,
                   "type":"string"
                }
             ],
             "responses":{
                "204":{
                   "description":"Message deleted",
                   "schema":{
                      "type":"object"
                   }
                },
                "404":{
                   "description":"Message not found with specified id"
                }
             }
          }
       },
       "/messages/{id}/send":{
          "post":{
             "tags":[
                "Message"
             ],
             "summary":"Send an exisiting message",
             "description":"Send an exisiting message",
             "operationId":"Message_PostMessageWithIDById",
             "consumes":[
 
             ],
             "produces":[
                "application/json",
                "text/json"
             ],
             "parameters":[
                {
                   "name":"id",
                   "in":"path",
                   "description":"Message id or name",
                   "required":true,
                   "type":"string"
                },
                {
                   "name":"filter",
                   "in":"query",
                   "description":"Filter id or name",
                   "required":false,
                   "type":"string"
                }
             ],
             "responses":{
                "200":{
                   "description":"Message Sent",
                   "schema":{
                      "type":"object"
                   }
                },
                "400":{
                   "description":"Filter or Message not found"
                }
             }
          }
       },
       "/messages/send":{
          "post":{
             "tags":[
                "Message"
             ],
             "summary":"Send a new message",
             "description":"Send a new message",
             "operationId":"Message_PostMessage_2",
             "consumes":[
                "application/json",
                "text/json",
                "application/xml",
                "text/xml",
                "application/x-www-form-urlencoded"
             ],
             "produces":[
                "application/json",
                "text/json"
             ],
             "parameters":[
                {
                   "name":"message",
                   "in":"body",
                   "description":"Message object",
                   "required":true,
                   "schema":{
                      "$ref":"#/definitions/MessageViewModel"
                   }
                },
                {
                   "name":"filter",
                   "in":"query",
                   "description":"Filter/Destination id or name",
                   "required":false,
                   "type":"string"
                }
             ],
             "responses":{
                "200":{
                   "description":"Message Sent",
                   "schema":{
                      "type":"object"
                   }
                },
                "400":{
                   "description":"Filter or Message not found"
                }
             }
          }
       },
       "/webhooks":{
          "get":{
             "tags":[
                "Webhooks"
             ],
             "summary":"Get all webhooks",
             "description":"Get all webhooks in AutomationFX, data available in both XML and Json formats",
             "operationId":"Webhooks_GetWebhooks",
             "consumes":[
 
             ],
             "produces":[
                "application/json",
                "text/json",
                "application/xml",
                "text/xml"
             ],
             "responses":{
                "200":{
                   "description":"OK",
                   "schema":{
                      "type":"array",
                      "items":{
                         "$ref":"#/definitions/WebhookViewModel"
                      }
                   }
                }
             }
          },
          "post":{
             "tags":[
                "Webhooks"
             ],
             "summary":"Create a webhook",
             "description":"Create a new webhook.\r\nresource: [cti,messages,all],\r\nevent: this varies based on the resource, use 'all' to recieve all events,\r\ntargetUrl: the url to send the webhook (POST) too",
             "operationId":"Webhooks_PostWebhook",
             "consumes":[
                "application/json",
                "text/json",
                "application/xml",
                "text/xml",
                "application/x-www-form-urlencoded"
             ],
             "produces":[
                "application/json",
                "text/json",
                "application/xml",
                "text/xml"
             ],
             "parameters":[
                {
                   "name":"webhook",
                   "in":"body",
                   "description":"Webhook model",
                   "required":true,
                   "schema":{
                      "$ref":"#/definitions/WebhookViewModel"
                   }
                }
             ],
             "responses":{
                "200":{
                   "description":"OK",
                   "schema":{
                      "$ref":"#/definitions/WebhookViewModel"
                   }
                }
             }
          }
       },
       "/webhooks/{id}":{
          "get":{
             "tags":[
                "Webhooks"
             ],
             "summary":"Get webhook by id",
             "description":"Get a webhook by its id",
             "operationId":"Webhooks_GetWebhooksById",
             "consumes":[
 
             ],
             "produces":[
                "application/json",
                "text/json",
                "application/xml",
                "text/xml"
             ],
             "parameters":[
                {
                   "name":"id",
                   "in":"path",
                   "description":"Webhook id",
                   "required":true,
                   "type":"string"
                }
             ],
             "responses":{
                "200":{
                   "description":"OK",
                   "schema":{
                      "$ref":"#/definitions/WebhookViewModel"
                   }
                }
             }
          },
          "delete":{
             "tags":[
                "Webhooks"
             ],
             "summary":"Delete a webhook",
             "description":"Delete a webhook using its id",
             "operationId":"Webhooks_DeleteWebhookById",
             "consumes":[
 
             ],
             "produces":[
                "application/json",
                "text/json"
             ],
             "parameters":[
                {
                   "name":"id",
                   "in":"path",
                   "description":"Webhook id",
                   "required":true,
                   "type":"string"
                }
             ],
             "responses":{
                "200":{
                   "description":"OK",
                   "schema":{
                      "type":"object"
                   }
                }
             }
          }
       },
       "/odata/Phones":{
          "get":{
             "tags":[
                "Phones"
             ],
             "summary":"Returns the EntitySet Phones",
             "operationId":"Phones_Get",
             "consumes":[
 
             ],
             "produces":[
 
             ],
             "parameters":[
                {
                   "name":"$expand",
                   "in":"query",
                   "description":"Expands related entities inline.",
                   "required":false,
                   "type":"string"
                },
                {
                   "name":"$filter",
                   "in":"query",
                   "description":"Filters the results, based on a Boolean condition.",
                   "required":false,
                   "type":"string"
                },
                {
                   "name":"$select",
                   "in":"query",
                   "description":"Selects which properties to include in the response.",
                   "required":false,
                   "type":"string"
                },
                {
                   "name":"$orderby",
                   "in":"query",
                   "description":"Sorts the results.",
                   "required":false,
                   "type":"string"
                },
                {
                   "name":"$top",
                   "in":"query",
                   "description":"Returns only the first n results.",
                   "required":false,
                   "type":"integer",
                   "format":"int32"
                },
                {
                   "name":"$skip",
                   "in":"query",
                   "description":"Skips the first n results.",
                   "required":false,
                   "type":"integer",
                   "format":"int32"
                },
                {
                   "name":"$count",
                   "in":"query",
                   "description":"Includes a count of the matching results in the response.",
                   "required":false,
                   "type":"boolean"
                }
             ],
             "responses":{
                "200":{
                   "description":"OK",
                   "schema":{
                      "type":"object"
                   }
                }
             },
             "deprecated":false
          }
       },
       "/odata/Phones('{GUID}')":{
          "get":{
             "tags":[
                "Phones"
             ],
             "summary":"Returns the entity with the key from Phones",
             "operationId":"Phones_GetByGUID",
             "consumes":[
 
             ],
             "produces":[
                "application/json"
             ],
             "parameters":[
                {
                   "name":"GUID",
                   "in":"path",
                   "description":"key: GUID",
                   "required":true,
                   "type":"string"
                },
                {
                   "name":"$expand",
                   "in":"query",
                   "description":"Expands related entities inline.",
                   "required":false,
                   "type":"string"
                },
                {
                   "name":"$select",
                   "in":"query",
                   "description":"Selects which properties to include in the response.",
                   "required":false,
                   "type":"string"
                }
             ],
             "responses":{
                "200":{
                   "description":"OK",
                   "schema":{
                      "$ref":"#/definitions/Phone"
                   }
                }
             },
             "deprecated":false
          }
       }
    },
    "definitions":{
       "CallViewModel":{
          "type":"object",
          "properties":{
             "callId":{
                "type":"string"
             },
             "address":{
                "type":"string"
             },
             "addressName":{
                "type":"string"
             },
             "begin":{
                "format":"date-time",
                "type":"string"
             },
             "connectionID":{
                "type":"string"
             },
             "direction":{
                "type":"string"
             },
             "duration":{
                "type":"string"
             },
             "huntNumber":{
                "type":"string"
             },
             "isConnected":{
                "type":"boolean"
             },
             "isRecording":{
                "type":"boolean"
             },
             "name":{
                "type":"string"
             },
             "number":{
                "type":"string"
             },
             "start":{
                "format":"date-time",
                "type":"string"
             },
             "state":{
                "type":"string"
             },
             "total":{
                "type":"string"
             },
             "wait":{
                "type":"string"
             }
          }
       },
       "MessageViewModel":{
          "type":"object",
          "properties":{
             "id":{
                "type":"string"
             },
             "name":{
                "type":"string"
             },
             "description":{
                "type":"string"
             },
             "category":{
                "type":"string"
             },
             "enableText":{
                "type":"boolean"
             },
             "title":{
                "type":"string"
             },
             "message":{
                "type":"string"
             },
             "prompt":{
                "type":"string"
             },
             "callback":{
                "type":"string"
             },
             "clear":{
                "format":"int32",
                "type":"integer"
             },
             "enablePlay":{
                "type":"boolean"
             },
             "uriSource":{
                "type":"string"
             },
             "playUri":{
                "type":"string"
             },
             "playRepeat":{
                "format":"int32",
                "type":"integer"
             },
             "playInterval":{
                "format":"int32",
                "type":"integer"
             },
             "enableVibrate":{
                "type":"boolean"
             },
             "vibrateDuration":{
                "format":"int32",
                "type":"integer"
             },
             "vibrateSilent":{
                "format":"int32",
                "type":"integer"
             },
             "vibrateRepeat":{
                "format":"int32",
                "type":"integer"
             },
             "enablePaging":{
                "type":"boolean"
             },
             "pageGroupId":{
                "type":"string"
             },
             "pageDevice":{
                "type":"string"
             },
             "destination":{
                "type":"string"
             }
          },
          "example":{
             "name":"Test Message",
             "description":"Sample Description",
             "category":"",
             "enableText":true,
             "title":"Message Title",
             "message":"Test Message",
             "prompt":"From Administrator",
             "callback":"",
             "clear":10,
             "enablePlay":true,
             "uriSource":"TFTP",
             "playUri":"callback.raw",
             "playRepeat":1,
             "playInterval":5000,
             "enableVibrate":true,
             "vibrateDuration":1000,
             "vibrateSilent":5000,
             "vibrateRepeat":1,
             "enablePaging":false,
             "pageGroupId":"",
             "pageDevice":"",
             "destination":""
          }
       },
       "WebhookViewModel":{
          "type":"object",
          "properties":{
             "id":{
                "type":"string"
             },
             "name":{
                "type":"string"
             },
             "targetUrl":{
                "type":"string"
             },
             "resource":{
                "type":"string"
             },
             "event":{
                "type":"string"
             },
             "filter":{
                "type":"string"
             }
          }
       },
       "Phone":{
          "type":"object",
          "properties":{
             "GUID":{
                "type":"string"
             },
             "Name":{
                "type":"string"
             },
             "IPAddress":{
                "type":"string"
             },
             "DN":{
                "type":"string"
             },
             "Description":{
                "type":"string"
             },
             "User":{
                "type":"string"
             },
             "DevicePool":{
                "type":"string"
             },
             "Location":{
                "type":"string"
             },
[...]
